<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.penguinin">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@color/black"
        android:supportsRtl="true"
        android:theme="@style/Theme.Penguinin">
        <activity
            android:screenOrientation="portrait"
            android:name=".Activities.ResultIsSearchActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Activities.HomeActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Penguinin2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>